* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: girlroy;
}

html,
body {
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: skyblue;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2 h1{
    font-size: 40vw;
    text-transform: uppercase;
}